

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	/*margin: 20%;*/
	filter: gray;
	-webkit-filter: grayscale(100%);

}
body * {
	font-family: 'Karla', sans-serif;
}

.item h2 {
	color : gray;
}

.item h3 {
	font-size: 19px;
	color: black;
	position: relative;
	left: -12px;
}

.title {
    text-align : center;
    padding-bottom : 30px;
}

.item {
	margin: 10px 0;
}

.thumbnail {
	width: 66;
	text-align: center;
	position: relative;
	top: 17px;
	
}












