

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	/*margin: 20%;*/
}

.item h2 {
	color : gray;
}

.title {
    text-align : center;
    padding-bottom : 30px;
}














