

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	/*margin: 20%;*/

}
body * {
	font-family: 'Karla', sans-serif;
}

.item h2 {
	color : gray;
}

.item h3 {
	font-size: 19px;
}

.title {
    text-align : center;
    padding-bottom : 30px;
}

.thumbnail {
	width: 66;
	/*height: 50;*/
	text-align: center;
	
}












