<!DOCTYPE HTML>
<html ng-app>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">		
		<link rel="stylesheet" href="css/main.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<title>Furniture Finder</title>
	</head>
	<body>
		<div class="col-sm-12 col-md-12 title">
			<h2>Highjinx Furniture Finder</h2>
		</div>
		<div class="col-sm-12 col-md-12 title">
			<input type="text" ng-model="searchBar" placeholder="Enter a name here">
				<span class="glyphicon glyphicon-search"></span>
			</input>
		</div>

		
   		 <div class="container">
   		 	<div class="col-sm-12 col-md-4 col-lg-4 item" ng-repeat="object in saleObjects | filter:searchBar">
   		 		<h3>{{object.title}}</h3>
   		 		<p>{{object.description}}</p>
   		 		
   		 	</div>
   		 </div>
   		 
		<div class="container">