<!DOCTYPE HTML>
<html ng-app>
	<head>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">		
		<link rel="stylesheet" href="css/main.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<title>Furniture Finder</title>
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="scripts/script.js"></script>
		<script src="scripts/angular.js"></script>
	</head>
	<body ng-controller ="MyController">
		<div class="col-sm-12 col-md-12 title">
			<h2>Highjinx Furniture Finder</h2>
		</div>
		
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 title input-group">
				<input type="text" ng-model="searchBar" class="form-control" placeholder="Enter a name here">
				<span class="input-group-addon glyphicon glyphicon-search"></span>
			</div>
		</div>

   		 <div class="container items">
   		 	<div class="row" ng-repeat="arrayItem in array | filter:searchBar">
   		 		<div class="col-sm-12 col-md-4 col-lg-4 item" id="{{($index * 3)}}">
	   		 		<div class="row">
   		 				<div class="col-md-3">
							<img class="thumbnail" src = {{arrayItem[0].imageLink}}>
						</div>
						<div class="col-md-9">	
							<a href = {{arrayItem[0].link}}>
								<h3>{{arrayItem[0].title}}</h3>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>{{arrayItem[0].description}}</p>
						</div>
					</div>
	   		 	</div>
	   		 	<div class="col-sm-12 col-md-4 col-lg-4 item" id="{{($index * 3)+1}}">
	   		 		<div class="row">
   		 				<div class="col-md-3">
							<img class="thumbnail" src = {{arrayItem[1].imageLink}}>
						</div>
						<div class="col-md-9">	
							<a href = {{arrayItem[1].link}}>
								<h3>{{arrayItem[1].title}}</h3>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>{{arrayItem[1].description}}</p>
						</div>
					</div>
	   		 	</div>
	   		 	<div class="col-sm-12 col-md-4 col-lg-4 item" id="{{($index * 3)+2}}">
	   		 		<div class="row">
   		 				<div class="col-md-3">
							<img class="thumbnail" src = {{arrayItem[2].imageLink}}>
						</div>
						<div class="col-md-9">	
							<a href = {{arrayItem[2].link}}>
								<h3>{{arrayItem[2].title}}</h3>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>{{arrayItem[2].description}}</p>
						</div>
					</div>
	   		 	</div>
   		 	</div>
   		 </div>
   		 
		<div class="container">